[submodule "Connector"]
	path = Connector
	url = https://github.com/HKUST-NISL/Grace_Connector
[submodule "Grace_Connector"]
	path = Grace_Connector
	url = https://github.com/HKUST-NISL/Grace_Connector
[submodule "Grace_Attention"]
	path = Grace_Attention
	url = https://github.com/HKUST-NISL/Grace_Attention.git
[submodule "Grace_GUI"]
	path = Grace_GUI
	url = https://github.com/HKUST-NISL/Grace_GUI
[submodule "Grace_Proj_Msgs"]
	path = Grace_Proj_Msgs
	url = https://github.com/HKUST-NISL/Grace_Proj_Msgs
[submodule "Grace_Emotion_HeadPoseAttention"]
	path = Grace_Emotion_HeadPoseAttention
	url = https://github.com/tkpham3105/Grace_Emotion_HeadPoseAttention.git
